.theme_dark {
  --filter_main: invert(45%) sepia(23%) saturate(1355%) hue-rotate(205deg) brightness(95%) contrast(86%);
  --color_1: #b9b8c2;
  --color_2: #9696a0;
  --color_3: #696879;
  --color_4: white;
  --color_5: #7f78cf;
  --color_6: #51b0b9;
  --color_7: #272f45;
  --color_8: #39425c;
  --color_9: #48506f;
  --color_10: #f5f4fb;
  // --color_11: #29556b;
  // --color_12: #071641;
  --color_13: #575b99;
  --color_14: #d4d4da;
  --color_15: #b9b8c2;
  --color_16: #c6c6ce;
  --color_17: #bbbbc4;
  --color_18: #d6d6dc;
  --color_19: #7477b0;
  --color_21: #7477b0;
  --color_22: #7477b0;
  --color_23: white;
  --color_24: #39425c;
  --color_25: #2f374c;
  --color_26: white;
  --color_27: #757487;
  --color_28: #f5f4fb;
  --color_29: #908f9e;
  --color_30: #696879;
  --color_31: #908f9e;
  --color_32: rgba(20, 20, 30, 0.7);
  --color_33: #7c7c88;
  --color_34: #3d4458;
  --color_35: #39425c;
  --color_36: #d4d4da;
  --color_37: #9e9ea1;
  --color_38: #cf5050;
  --color_39: #51b0b9;
  --color_40: #39425c;
  --color_41: var(--color_6);
  --color_42: var(--color_1);
}