.theme_light {
  --filter_main: invert(52%) sepia(69%) saturate(1207%) hue-rotate(199deg) brightness(86%) contrast(92%);
  --color_1: #494f5c;
  --color_2: #6b7387;
  --color_3: #545b6a;
  --color_4: #fff;
  --color_5: #6180d3;
  --color_6: #6bc9af;
  --color_7: #fff;
  --color_8: #f1f1f0;
  --color_9: #f4f4f5;
  --color_10: #f6f6f6;
  // --color_11: #246867;
  // --color_12: #05253b;
  --color_13: #d8d8d6;
  --color_14: #606778;
  --color_15: #788093;
  --color_16: #bfc3cc;
  --color_17: #494f5c;
  --color_18: #788093;
  --color_19: #c5cfee;
  --color_21: #8a9edd;
  --color_22: #d9e0f4;
  --color_23: #545b6a;
  --color_24: #fff;
  --color_25: #e5e5e3;
  --color_26: #606778;
  --color_27: #606778;
  --color_28: #f9f9f9;
  --color_29: #6b7387;
  --color_30: #6b7387;
  --color_31: #949baa;
  --color_32: rgba(15, 20, 30, 0.7);
  --color_33: var(--color_1);
  --color_34: #ccccd1;
  --color_35: #e7e7e9;
  --color_36: #a2a8b5;
  --color_37: #a2a8b5;
  --color_38: #cf5050;
  --color_39: #59b49b;
  --color_40: #ebeff9;
  --color_41: var(--color_5);
  --color_42: #636873;
}